@use './variables' as *;

footer {
  width: 100%;
}

.footer-contents {
  margin: 0 auto;
  width: 80%;
  font-size: 18pt;

  p a {
    text-decoration: none;
    color: $secondary-color;
    font-weight: bold;
  }
}