@use './variables' as *;

.home {
  width: 100%;
}

.portrait {
  margin: 0 auto;
  width: 20%;

  img {
    width: 100%;
    border-radius: 100%;
    box-shadow: 0px 0px 0px 5px $secondary-color;
  }
}

h1 {
  text-align: center;
  font-size: 40pt;
}

.contents-block {
  margin-top: 100px;
  width: 100%;

  h2 {
    font-size: 30pt;
  }
}

.about p {
  font-size: 20pt;
  width: 60%;
}

.items {
  width: 100%;
  display: flex;
  margin-bottom: 10px;

  :hover {
    background-color: $quaternary-color;
    box-shadow: 0px 0px 5px 1px $tertiary-color;
  }

  h3 {
    font-size: 18pt;

    a {
      color: $secondary-color;
      text-decoration: none;
    }
  }

  h4 {
    font-size: 16pt;
    color: $quinary-color;

    a {
      color: $quinary-color;
      text-decoration: none;
    }
  }

  p {
    font-size: 14pt;
    padding-bottom: 20px;
  }

  .item {
    border: 3px solid $tertiary-color;
    border-radius: 20px;
    padding: 5px 1%;
    transition: 0.3s;

    :hover {
      box-shadow: none;
    }
  }

  .item-even {
    width: 47%;
    margin-right: 1%;
    flex-flow: row;
  }

  .item-odd
  {
    width: 47%;
    flex-flow: column;
    margin: 0 auto;
  }
}

/* Responsive design */
@media only screen and (max-width: 1700px) {
  .items {
    flex-flow: column;
    margin-bottom: 0;
  }

  .item {
    padding: 5px 10%;
  }

  .item-even, .item-odd {
    width: 96% !important;
    margin: 0 auto 10px 0 !important;
  }
}

@media only screen and (max-width: 860px) {
  .about p {
    width: 100%;
    font-size: 16pt;
  }
}

@media only screen and (max-width: 500px) {
  .item {
    border: none !important;
    border-top: 3px solid $tertiary-color !important;
    border-bottom: 3px solid $tertiary-color !important;
  }

  .item-even, .item-odd {
    width: 92% !important;
  }
}