@use './variables' as *;

.home {
  width: 98%;
  margin: 0 auto;
}

.portrait {
  margin: 0 auto;
  width: 30%;

  img {
    width: 100%;
    border-radius: 100%;
    box-shadow: 0px 0px 0px 5px $secondary-color;
  }
}

h1 {
  text-align: center;
  font-size: 40pt;
}

.contents-block {
  margin-top: 100px;
  width: 100%;

  h2 {
    font-size: 30pt;
    text-align: center;
  }
}

.about p {
  font-size: 22pt;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.items {
  width: 100%;
  display: flex;
  margin-bottom: 10px;

  a {
    color: none;
    font-weight: normal;
    text-decoration: none;
  }

  a:hover {
    color: $secondary-color;
  }

  h3 {
    font-size: 18pt;
  }

  h4 {
    font-size: 16pt;
    color: $quinary-color;
  }

  p {
    font-size: 14pt;
    padding-bottom: 20px;
  }

  .item {
    border: 3px solid $tertiary-color;
    border-radius: 20px;
    padding: 5px 1%;
    transition: 0.3s;
    cursor: pointer;
  }

  .item:hover {
    border-radius: 20px;
    background-color: $quaternary-color;
    box-shadow: 0px 0px 5px 1px $tertiary-color;
  }

  .item-even {
    width: 47%;
    margin-right: 1%;
    flex-flow: row;
  }

  .item-odd
  {
    width: 47%;
    flex-flow: column;
    margin: 0 auto;
  }
}

/* Responsive design */
@media only screen and (max-width: 1700px) {
  .items {
    flex-flow: column;
    margin-bottom: 0;
  }

  .item {
    padding: 5px 10%;
  }

  .item-even, .item-odd {
    width: 96% !important;
    margin: 0 auto 10px 0 !important;
  }
}

@media only screen and (max-width: 1550px) {
  .portrait {
    width: 36%;
  }
}

@media only screen and (max-width: 1255px) {
  .portrait {
    width: 45%;
  }

  .about p {
    font-size: 24pt;
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .item {
    border: none !important;
    border-top: 3px solid $tertiary-color !important;
    border-bottom: 3px solid $tertiary-color !important;
  }

  .item-even, .item-odd {
    width: 92% !important;
  }

  .about p {
    font-size: 20pt;
  }
}