@use './variables' as *;
@use './navbar' as *;
@use './footer' as *;
@use './home' as *;
@use './projects' as *;
@use './contacts' as *;

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/Roboto-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../assets/fonts/Roboto-Bold.woff2') format('woff2');
}

body {
  background-color: $primary-color;
  color: $secondary-color;
  font-family: 'Roboto', sans-serif;

  background-image: url(../assets/main_bg.svg);
  background-size: cover;
  background-repeat: repeat-y;

  width: 100%;
  overflow-x: hidden;
}

.contents {
  padding-top: 150px;
  padding-bottom: 150px;
  width: 80%;
  margin: 0 auto;
}

.errors {
  font-size: 20pt;
}

/* Responsive design */
@media only screen and (max-width: 1200px) {
  body {
    background-image: none;
  }
}

@media only screen and (max-width: 860px) {
  .contents {
    width: 95%;
  }
}