@use './variables' as *;
@use './navbar' as *;
@use './footer' as *;
@use './home' as *;

body {
  background-color: $primary-color;
  color: $secondary-color;
  font-family: 'Roboto';

  background-image: url(../assets/main_bg.svg);
  background-size: cover;
  background-repeat: repeat-y;

  width: 100%;
  overflow-x: hidden;
}

.contents {
  padding-top: 150px;
  padding-bottom: 150px;
  width: 80%;
  margin: 0 auto;
}