@use './variables' as *;

.projects {
  width: 100%;

  :hover {
    background-color: $quaternary-color;
  }
}
.project{
  border: 3px solid $tertiary-color;
  border-radius: 20px;
  padding: 5px 1%;
  margin-bottom: 10px;
  display: flex;

  .description, .image {
    flex-flow: row;
  }

  .description {
    width: 75%;
    padding-right: 4.5%;
  }

  h3 {
    font-size: 20pt;
  }

  p {
    font-size: 14pt;
  }

  a {
    text-decoration: none;
    color: $secondary-color;
    font-weight: bold;
  }

  .image {
    width: 20%;

    img {
      width: 100%;
    }
  }
}

/* Responsive design */
@media only screen and (max-width: 950px) {
  .project {
    flex-flow: column;
    width: 96%;
  }

  .description {
    width: 100% !important;
    padding-right: 0 !important;
  }

  .image {
    width: 50%;
    margin: 0 auto;
  }
}


@media only screen and (max-width: 740px) {
  .image {
    width: 70% !important;
  }
}

@media only screen and (max-width: 500px) {
  .project {
    border: none !important;
    border-top: 3px solid $tertiary-color !important;
    border-bottom: 3px solid $tertiary-color !important;
  }
}